<div id="name">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/img/name-trans-white.png' | relative_url }}" title="{{ site.author }}" alt="{{ site.author }}" />
  </a>
</div>
<div id="frame">
  <label for="photo">
    <img src="{{ '/assets/img/me_small.jpg' | relative_url }}" title="{{ site.author }}" alt="{{ site.author }}" />
  </label>
</div>
<ul id="details">
  <li id="phone">
    <img src="{{ '/assets/img/flag-mx.gif' | relative_url }}" alt="México"> Cel. (xx) xxxx xxxx
  </li>
  <li id="email">
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </li>
</ul>
