{% assign data = site.data.components.body-sections.availability.i18n[include.lang] %}

<div id="availability"><h1 class="low-gray">{{ data.heading }}</h1>
  <div id="info">

    {% for info in data.info %}
      <p>
        {{ info.key }}:
        <strong>{{ info.value }}</strong>
      </p>
    {% endfor %}

    <p id="interest-areas">{{ data.interest-areas.heading }}:</p>
    <div class="floatleft">
      {% for area in data.interest-areas.areas %}
        <h4>{{ area.heading }}</h4>
        <ul>
          {% for interest in area.interests %}
            <li>{{ interest }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    <div class="clear"></div>

  </div>
</div>
