{% assign data = site.data.components.body-sections.degree.i18n[include.lang] %}

<h2 class="degree">
  {{ data.degree }}
  <div class="subdegree d-print-none">
    {{ data.subdegree }}:
    {% for certification in data.certifications %}
      <a href="{{ certification.url }}" title="{{ certification.tooltip }}" id="{{ certification.id }}">
        {{ certification.name }}
      </a>
      {% unless forloop.last %}
        |
      {% endunless %}
    {% endfor %}
  </div>
</h2>
