{% assign data = site.data.components.navbars.bootstrap.i18n[include.lang] %}

<div id="top">
  <ul>

    <li id="download">
      <a href="{{ data.download.link | relative_url }}">
        {{ data.download.title }}
      </a>
    </li>

    <li id="mail">
      <a href="mailto:{{ site.email }}" id="contacto">
        {{ data.contact_me }}
      </a>
    </li>

    <li id="{{ data.lang_switcher.id }}">
      <p onClick="change_lang('{{ data.lang_switcher.target }}');">
        {{ data.lang_switcher.title }}
      </p>
    </li>

  </ul>
</div>
