<!DOCTYPE html>
<html>

  <head>
    {% seo %}
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="Shortcut Icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon" />
    <link rel="search" href="{{ '/assets/xml/opensearch.xml' | relative_url }}"  title="Search {{ site.title }}" type="application/opensearchdescription+xml" />
    {% include components/scripts/scripts.liquid %}
  </head>

  <body>
    {% include components/modals/modal.liquid %}

    <table id="container">
      <tbody>
        <tr>
          <td id="generals">
            <div id="sidebar">
              {% include components/sidebars/sidebar.liquid %}
            </div>
          </td>
          <td id="content">
            {% for lang in site.languages %}
              <div id="{{ lang }}">
                {% include components/landing-pages/cv.liquid lang=lang %}
              </div>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>

    {% include components/ribbons/octocat-corners.liquid %}
  </body>

</html>
