<div class="{{ include.heading-class }}">
  <{{ include.heading-tag | default: 'h2' }}>
    {{ include.heading-title }}
    <small>{{ include.heading-small }}</small>
  </{{ include.heading-tag | default: 'h2' }}>
  <div class="position">
    {{ include.details-title }}
    <small>{{ include.details-small }}</small>
  </div>
</div>
