<div id="{{ include.heading-class }}">
  <h2>
    {{ include.heading-title }}
    <small>{{ include.heading-small }}</small>
  </h2>
  <div class="position">
    {{ include.details-title }}
    <small>({{ include.details-small }})</small>
  </div>
</div>
